ADV/packages
ADV/.vs
ADV/ADV/bin
ADV/ADV/obj
ADV/ADV.DB.Base/bin
ADV/ADV.DB.Base/obj
ADV/ADV.DB.Tools/bin
ADV/ADV.DB.Tools/obj
ADV/ADV.Entity/bin
ADV/ADV.Entity/obj
ADV/ADV.Infrastructure/bin
ADV/ADV.Infrastructure/obj
ADV/ADV.ORM.Extensions/bin
ADV/ADV.ORM.Extensions/obj
ADV/ADV.Service/bin
ADV/ADV.Service/obj
ADV/ADV.Util/bin
ADV/ADV.Util/obj
ADV/Common/bin
ADV/Common/obj
ADV/Lib/bin
ADV/Lib/obj